@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic,latin-ext");

html {
		font-size: 62.5%;
		width: 100%;
}

a {
	color: #ffffff;
}
.
.page{
	width: 100%;
}
.wrapper{
	width: 100%;
}
.header{
	width: 100%;
	height: 10rem;
	color: white;
	font-size: 1.6rem;
	display: flex;
	align-items: flex-end;
}
.header__inner-container{
	max-width: 1960px;
	width: 100%;
	height: 85%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.logo{
	flex-grow: 16.4;
	height: 100%;
}
.logo__inner-container{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.logo__icon{
	width: 48.171%;
}

.zvysh-description{
	flex-grow: 13.8;
	height: 100%;
}

.zvysh-description__inner-container{
	height: 100%;
	margin-left: 5.4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.zvysh-description__location{
	display: flex;
	font-family: 'Roboto', sans-serif;
  	font-weight: 100;
}
.zvysh-description__text{
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
  	font-weight: 300;

}
.zvysh-description__location{
}
.zvysh-description__location-icon{
	font-size: 1.8rem;
}
.zvysh-description__text_bottom{
	margin-left: 0.6rem;
}

.navigation{
	flex-grow: 25;
	height: 100%;
}
.navigation__inner-container{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navigation__element-name{
	font-size: 1.834rem;
	font-family: 'Roboto', sans-serif;
  	font-weight: 300;
  	padding: 0.1em 1.2em;
}
.navigation__element-name_active{
	border: 0.0625em solid #ffffff;
}



.phone-number{
	flex-grow: 20;

}
.phone-number__inner-container{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.phone-number__icon{
	font-size: 3rem;
}
.phone-number__text{
	font-size: 2.167rem;
	font-family: 'Roboto', sans-serif;
  	font-weight: 300;
  	margin-left: 0.5rem;
}



.sign-in{
	flex-grow: 20;

}
.sign-in__inner-container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sign-in__text{
	color: #2ebaa7;
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
  	font-weight: 300;
}

.main-section{
	width: 100%;
	height: 38.5vw;
    background: url(../images/main-page-backgound.png) no-repeat;
    background-size: 100%, cover;
}
.main-seсtion__inner-container{
	width: 100%;
	height: 100%;
	position: relative;
}
.headlines{
	width: 100%;
}
.headlines__inner-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.headlines__main-headline{
	margin-top: 4.875vw;
	font-family: 'Roboto', sans-serif;
	font-size: 3.75vw;
	font-weight: 500;
	letter-spacing: 0.32vw;
	color: #ffffff;
}
.headlines__second-headline{
	margin-top: 0.5vw;
	font-size: 2.344vw ;
	font-family: 'Roboto', sans-serif;
  	font-weight: 100;
  	letter-spacing:  0.15vw;
	color: #ffffff;
}

.calculator{
	width: 58.2%;
	height: 4.4vw;
	background-color: #ecf0f0;
	position: absolute;
	bottom: -2.2vw;
	left: 20.9%;
	display: flex;
	justify-content: center;
	font-size: 1.2vw;
}

.calculator__inner-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 96%;
}
.calculator__button-block{
	width: 29.73%;
	height: 57.647%;
}
.calculator__button-block_makeorder-style{
	width: 37.84%;
	color: #ffffff;
}

.calculator__button-block-inner-container{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.calculator__button-block-button{
	height: 100%;
	width: 15.36%;
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
  	font-weight: 100;
	font-size: 2.2vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
.calculator__button-block-text{
	width: 68%;
	height: 100%;
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
  	font-weight: 300;
  	display: flex;
	align-items: center;
	justify-content: center;
}
.calculator__button-block-text_makeorder-style{
	width: 100%;
	background-color: #2ebaa7;
	font-weight: 300;
}


.relax-section{
	background-color: #ecf0f0;
	width: 100%;
	height: 53.8vw;
}
.relax-section__inner-container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.relax-section__headline{
	margin-top: 11.5vw;
	font-family: 'Roboto', sans-serif;
	font-size: 2.5vw;
	font-weight: 500;
	color: #092327;
}

.trust-section{
	background-color: #ffffff;
	width: 100%;
	height: 60vw;
}

.trust-section__inner-container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.trust-section__headline{
	margin-top: 4.9vw;
	font-family: 'Roboto', sans-serif;
	font-size: 2.5vw;
	font-weight: 500;
	color: #092327;
}

.trust-arguments-block{
	width: 71.72%;
}
.trust-arguments-inner-container{
	margin-top: 3.1vw;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.animation-block{
	height: 21.2vw;
	width:  21.2vw;
}
.animation-block__inner-container{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.animation-block__inner-container-safety{
	background: url(../images/trust_page__block-safety.png) no-repeat;
	background-size: 100%, cover;
}
.animation-block__inner-container-quality{
	background: url(../images/trust_page__block-quality.png) no-repeat;
	background-size: 100%, cover;
}
.animation-block__inner-container-eco{
	background: url(../images/trust_page__block-eco.png) no-repeat;
	background-size: 100%, cover;
}


.animation-block__inner-container-stable{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.animation-block__title{
	font-family: 'Roboto', sans-serif;
  	font-weight: 450;
  	letter-spacing: 0.03vw;
  	color: #ffffff;
  	font-size: 1.5vw;
  	border: 0.11em solid #ffffff;
  	padding: 0.1em 1em;
}








::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:1%;
height:0px
}

::-webkit-scrollbar-track {
background-color:#ecedee
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#2ebaa7;
}

::-webkit-scrollbar-thumb:hover{
background-color:#56999f;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:1%;
height:0px
}

::-webkit-scrollbar{
width: 1%;
}
